{
	debug
	order tailscale_auth after basicauth
	tailscale {
		auth_key "tskey-auth-"

		caddy {
			auth_key "tskey-auth-caddy"
		}
	}
}

:80 {
	bind tailscale/caddy
	root .
	file_server
	templates
	#tailscale_auth
}
