{{if (index .Req.Header "X-Webauth-User") }}
  <h1>Proxied User</h1>
  <h2>Headers</h2>
  <p><code>{{.Req.Header}}</code>

  <dl>
    <dt>X-Webauth-User</dt> <dd>{{index (index .Req.Header "X-Webauth-User") 0}}</dd>
    <dt>X-Webauth-Email</dt> <dd>{{index (index .Req.Header "X-Webauth-Email") 0}}</dd>
    <dt>X-Webauth-Tailnet</dt> <dd>{{index (index .Req.Header "X-Webauth-Tailnet") 0}}</dd>
    <dt>X-Webauth-Name</dt> <dd>{{index (index .Req.Header "X-Webauth-Name") 0}}</dd>
    <dt>X-Webauth-Photo</dt> <dd><img src="{{index (index .Req.Header "X-Webauth-Photo") 0}}"></dd>
  </dl>
{{ end }}

{{ if (placeholder "http.auth.user.id") }}
  <h1>Authenticated User</h1>
  <dl>
    <dt>ID</dt> <dd>{{placeholder "http.auth.user.id"}}</dd>
    <dt>tailnet</dt> <dd>{{placeholder "http.auth.user.tailscale_tailnet"}}</dd>
    <dt>Name</dt> <dd>{{placeholder "http.auth.user.tailscale_name"}}</dd>
    <dt>Photo</dt> <dd><img src="{{placeholder "http.auth.user.tailscale_profile_picture"}}"></dd>
  </dl>
{{ end }}
